.main-footer__wrapper {
  width: 100%;
  margin: 0 auto;
  background: #f2f2f2;
}

.main-footer__logo img {
  display: block;
  margin: 0 auto;
  padding-top: 40px;
}

.main-footer__dev {
  display: flex;
  padding-bottom: 40px;
  justify-content: space-around;
  min-width: 280px;
}

@media (min-width: 768px) {
  .main-footer__wrapper {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 55px 30px;
  }

  .main-footer__logo img {
    padding-top: 0;
  }
}

@media (min-width: 1440px) {
  .main-footer__dev {
    justify-content: space-between;
    padding: 66px 110px;
  }
}
