.product__title {
  color: #222222;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  margin-left: auto;
  margin-bottom: 14px;
  padding: 0;
  width: 76px;
  padding-right: 64px;
}

.product__details {
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product__weight {
  display: flex;
  width: 140px;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 2px;
}

.product__taste {
  display: flex;
  width: 140px;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 2px;
}

.product__price {
  display: flex;
  width: 140px;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 22px;
}

@media (min-width: 768px) {
  .product {
    background-color: #f2f2f2;
    box-sizing: border-box;
    padding: 161px 30px 39px 35px;
  }

  .product__title {
    width: 164px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    padding-right: 0;
    text-align: center;
  }

  .product__details {
    margin-left: auto;
    margin-right: auto;
  }

  .product__weight {
    width: 246px;
    margin-bottom: 14px;
  }

  .product__taste {
    width: 246px;
    margin-bottom: 16px;
  }

  .product__price {
    width: 246px;
    margin-bottom: 42px;
  }
}

@media (min-width: 1440px) {
  .product {
    background-color: #f2f2f2;
    box-sizing: border-box;
    padding: 162px 36px 40px 40px;
  }

  .product__weight {
    width: 169px;
    margin-bottom: 14px;
  }

  .product__taste {
    width: 169px;
    margin-bottom: 16px;
  }

  .product__price {
    width: 169px;
    margin-bottom: 43px;
  }
}
