.programs__wrapper {
  // width: 95%;
  min-width: 280px;
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0;
}

.programs__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.programs__item {
  min-width: 280px;
  background-color: #f2f2f2;
  box-sizing: border-box;
  padding-left: 20px;
  padding-bottom: 18px;
  margin-bottom: 20px;
}

.program__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  padding-top: 30px;
  padding-left: 90px;
  position: relative;
}

.program__title--slim::before {
  content: "";
  margin-left: -90px;
  margin-top: -5px;
  background-image: url("../img/cat-slim.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 50px;
  height: 53px;
}

.program__title--gain::before {
  content: "";
  margin-left: -90px;
  margin-top: -5px;
  background-image: url("../img/cat-gain.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 67px;
  height: 50px;
}

.program__desc {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #444444;
  padding-right: 33px;
  padding-bottom: 19px;

  &::after {
    content: "";
    border: 1px solid #d9d9d9;
    width: 240px;
    display: inline-block;
    transform: scaleY(-1);
    margin-top: 23px;
  }
}

.program__learn-more {
  font-family: "Oswald", sans-serif;
  text-decoration: none;
  color: #000000;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  padding-bottom: 22px;

  &::after {
    content: "";
    margin-left: 15px;
    margin-top: 3px;
    background-image: url("../img/arrow.svg");
    background-repeat: no-repeat;
    position: absolute;
    width: 32px;
    height: 10px;
  }
}


@media (min-width: 768px) {
  .programs__wrapper {
    width: 95%;
    margin-left: 30px;
    margin-right: 31px;
    // padding-left: 29px;
    // padding-right: 31px;
  }

  .programs__item {
    min-width: 708px;
    background-color: #f2f2f2;
    box-sizing: border-box;
    padding-left: 53px;
    padding-bottom: 57px;
    margin-bottom: 30px;
  }

  .programs__item:last-child {
    margin-bottom: 45px;
  }

  .program__title {
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    padding-left: 0;
  }

  .program__desc {
    width: 340px;

    &::after {
      display: none;
    }
  }

  .program__learn-more {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .program__title--slim::before {
    width: 200px;
    height: 211px;
    background-image: url("../img/cat-slim-tablet.svg");
    margin-left: 420px;
  }

  .program__title--gain::before {
    width: 268px;
    height: 200px;
    background-image: url("../img/cat-gain-tablet.svg");
    margin-left: 370px;
  }
}

@media (min-width: 1440px) {
  .programs__wrapper {
    margin: 0 auto;
  }

  .programs__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    margin: 82px auto 71px;
  }

  .programs__item {
    min-width: 570px;
    padding-left: 52px;
    box-sizing: border-box;
    margin: 0;
  }

  .programs__item:last-child {
    margin-bottom: 0;
  }

  .program__title {
    margin-left: 160px;
  }

  .program__title--slim::before {
    width: 100px;
    height: 100px;
    background-image: url("../img/cat-slim-desktop.svg");
    margin-left: -160px;
    margin-top: -40px;
  }

  .program__title--gain::before {
    width: 134px;
    height: 100px;
    background-image: url("../img/cat-gain-desktop.svg");
    margin-left: -180px;
    margin-top: -40px;
  }
}
