.stats {
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  background-color: #eaeaea;
  background-size: 100%;
}

.stats__wrapper {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  border: none;
}

.stats__title {
  font-family: "Oswald", sans-serif;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  padding-left: 20px;
  padding-top: 25px;
  text-align: left;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}

.stats__desc {
  font-family: "Lato", sans-serif;
  color: #444444;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-left: 20px;
  width: 280px;
}

.stats__example {
  display: flex;
  justify-content: space-around;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.stats__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 280px;
  margin: 0 auto;
}

.stats__item-number {
  font-family: "Oswald", sans-serif;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 8px;
}

.stats__item-desc {
  font-family: "Lato", sans-serif;
  color: #444444;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  width: 59px;
  padding: 0;
  margin: 0 auto;
}

.stats__cost {
  font-family: "Oswald", sans-serif;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.stats__slider {
  min-height: 256px;
}

.stats__slider-pic {
  display: block;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .stats {
    background-color: #ffffff;
    width: 100%;
  }

  .stats__title {
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
  }

  .stats__desc {
    min-width: 708px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 55px;
  }

  .stats__example {
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-right: auto;
    margin-bottom: 200px;
  }

  .stats__cost {
    width: 174px;
    text-align: right;
    margin-top: -34%;
    margin-bottom: 200px;
    margin-left: 75%;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }

  .stats__slider {
    min-height: 512px;
    background-color: #eaeaea;
    position: relative;
    width: 100%;
  }

  .stats__slider-pic {
    min-width: 560px;
    min-height: 512px;
    position: absolute;
    margin-top: -20%;
    margin-left: 16%;
  }
}

@media (min-width: 1440px) {
  .stats {
    background-color: #f2f2f2;
    height: 462px;
    position: relative;
  }

  .stats__title {
    position: absolute;
    margin-top: -140px;
    margin-left: 6%;
  }

  .stats__desc {
    width: 436px;
    margin-bottom: 55px;
    margin-left: 6%;
    padding-top: 70px;
  }

  .stats__cost {
    margin-top: 55px;
    margin-left: 7%;
    min-width: 327px;
    text-align: left;
  }

  .stats__example {
    margin-left: 5%;
  }

  .stats__slider {
    position: absolute;
    margin-left: 890px;
    margin-top: -450px;
    min-width: 560px;
    min-height: 512px;
  }
}
