.steps__wrapper {
  width: 95%;
  margin: 0 20px 49px 20px;
}

.steps__title {
  font-family: "Oswald", sans-serif;
  text-align: left;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  margin: 0;
  margin-bottom: 40px;
}

.steps__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.steps__item {
  font-family: "Lato", sans-serif;
  color: #444444;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  padding: 0;
  padding-left: 80px;
  margin: 0;
  width: 200px;
}

.steps__item:not(:last-child) {
  margin-bottom: 46px;
}

@media (min-width: 768px) {
  .steps__wrapper {
    width: 95%;
    padding-left: 29px;
    padding-right: 31px;
  }

  .steps__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }

  .steps__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .steps__item {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding-left: 0;
    padding-top: 151px;
  }
}

@media (min-width: 1440px) {
  .steps__wrapper {
    width: 85%;
    margin: 0 auto;
  }

  .steps__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .steps__item:not(:last-child) {
    margin-right: 94px;
  }

  .steps__title {
    margin-bottom: 32px;
  }
}
