.steps__wrapper {
  width: 90%;
  margin: 0 20px 49px 20px;
}

.steps__title {
  font-family: "Oswald", sans-serif;
  text-align: left;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  margin: 0;
  margin-bottom: 40px;
}

.steps__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.steps__item {
  font-family: "Lato", sans-serif;
  color: #444444;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  padding: 0;
  padding-left: 80px;
  margin: 0;
  width: 200px;

  &::before {
    content: "";
    margin-left: -80px;
    margin-top: -3px;
    background-repeat: no-repeat;
    position: absolute;
    width: 60px;
    height: 60px;
  }
}

.steps__item:not(:last-child) {
  margin-bottom: 46px;
}

.steps__item--nutrition::before {
  background-image: url("../img/nutrition.svg");
}

.steps__item--powder::before {
  background-image: url("../img/powder.svg");
}

.steps__item--food::before {
  background-image: url("../img/food.svg");
}

.steps__item--month::before {
  background-image: url("../img/month.svg");
}

@media (min-width: 768px) {
  .steps__wrapper {
    width: 95%;
    padding-left: 29px;
    padding-right: 31px;
  }

  .steps__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }

  .steps__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .steps__item {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding-left: 0;
    padding-top: 151px;
    position: relative;

    &::before {
      content: "";
      margin-left: 0;
      margin-top: -110px;
      background-repeat: no-repeat;
      position: absolute;
      width: 80px;
      height: 80px;
    }

    &::after {
      content: "";
      background-repeat: no-repeat;
      position: absolute;
      width: 136px;
      height: 280px;
      margin-top: -200px;
      z-index: -5;
    }
  }

  .steps__item--nutrition::after {
    background-image: url("../img/1.svg");
    margin-left: 60px;
  }

  .steps__item--powder::after {
    background-image: url("../img/2.svg");
    margin-left: 80px;
  }

  .steps__item--food::after {
    background-image: url("../img/3.svg");
    margin-left: 60px;
  }

  .steps__item--month::after {
    background-image: url("../img/4.svg");
    margin-left: 20px;
  }
}

@media (min-width: 1440px) {
  .steps__wrapper {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 160px;
  }

  .steps__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .steps__item:not(:last-child) {
    margin-right: 94px;
  }

  .steps__title {
    margin-bottom: 32px;
  }
}
