.button {
  text-transform: uppercase;
  background-color: $basic_green;
  height: 40px;
  padding: 8px 44px;
  align-items: center;
  color: #ffffff;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-style: normal;
  border: none;
  cursor: pointer;
}
