// Начните писать стили здесь
@import "./common/fonts.scss";
@import "./common/visually-hidden.scss";
@import "./common/button.scss";
@import "./blocks/main-header.scss";
@import "./blocks/main-container.scss";
@import "./blocks/main-intro.scss";
@import "./blocks/programs.scss";
@import "./blocks/steps.scss";
@import "./blocks/example.scss";
@import "./blocks/main-footer.scss";
<<<<<<< Updated upstream
=======
@import "./blocks/stats.scss";
@import "./blocks/address.scss";
@import "./blocks/catalog.scss";
@import "./blocks/comment.scss";
@import "./blocks/dev-section.scss";
@import "./blocks/extra-group.scss";
@import "./blocks/extra-products.scss";
@import "./blocks/form.scss";
@import "./blocks/gift.scss";
@import "./blocks/more-product.scss";
@import "./blocks/owner-info.scss";
@import "./blocks/pet-info.scss";
@import "./blocks/product.scss";
@import "./blocks/send-section.scss";
@import "./blocks/social.scss";
@import "./blocks/target-form.scss";
>>>>>>> Stashed changes
